:root {
  // Currently internal variables:
  --gd-radius-s: 4px;
  --gd-radius-m: 8px;
  --gd-radius-l: 12px;

  --gd-font-size-1: 9px;
  --gd-font-size-2: 10px;
  --gd-font-size-3: 11px;
  --gd-font-size-4: 12px;
  --gd-font-size-5: 13px;
  --gd-font-size-6: 14px;
  --gd-font-size-7: 15px;
  --gd-font-size-8: 16px;
  --gd-font-size-9: 17px;
  --gd-font-size-10: 18px;

  // variables should be exposed to users:
  --gd-color-primary: #1677ff;
  --gd-color-success: #00b578;
  --gd-color-warning: #ff8f1f;
  --gd-color-danger: #ff3141;

  --gd-color-text: #333333;
  --gd-color-text-secondary: #666666;
  --gd-color-weak: #999999;
  --gd-color-light: #cccccc;
  --gd-color-border: #eeeeee;
  --gd-color-background: #ffffff;

  // Deprecated. We use `--gd-color-text-light-solid` in code
  // but keep here for compatible
  --gd-color-white: #ffffff;
  --gd-color-box: #f5f5f5;

  --gd-color-text-light-solid: var(--gd-color-white);
  --gd-color-text-dark-solid: #000000;
  --gd-color-fill-content: var(--gd-color-box);

  --gd-font-size-main: var(--gd-font-size-5);

  // The variables below are deprecated and only exist for backward compatibility:
  --gd-border-color: var(--gd-color-border);
}
